* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --bg: rgb(48, 48, 48);
    --gray: rgb(75, 75, 75);
    --red: rgb(233, 30, 57);
    --orange: rgb(240, 111, 34);
    --yellow: rgb(250, 207, 0);
    --green: rgb(139, 191, 64);
    --blue: rgb(0, 155, 214);
    --purple: rgb(142, 85, 158);
    --white: rgb(218, 218, 218);
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 10vh 80vh;
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: normal;
}

.geo-regular {
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: normal;
}

.welcome {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: var(--bg);
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(11, 1fr);
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    transition: all 1s;
    opacity: 1;
}

.welcome * {
    margin: 0;
}

.welcome>h1 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;
}

.welcome>h3 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 12;
}

.welcome>h2 {
    grid-row: 6 / span 1;
    grid-column: 1 / span 12;
}

.welcome>p {
    grid-row: 7 / span 1;
    grid-column: 3 / span 7;
}

.welcome>h3>a {
    color: var(--white);
}

.welcome>div {
    grid-row: 9 / span 1;
    grid-column: 3 / span 7;
}

#begin {
    width: 10vw;
    aspect-ratio: 1;
    font-size: clamp(1rem, 2rem, 3rem);
    border-radius: 10px;
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--white);
}

#begin:hover {
    background-color: var(--red);
    cursor: pointer;
}

#show-start:checked+.welcome>div>#begin {
    display: none;
}

#show-start:checked+.welcome {
    opacity: 0;
}

#show-start {
    display: none;
}

header {
    background-color: var(--gray);
    border-radius: 5px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 10px;
    font-size: clamp(1rem, 2rem, 3rem);
}

header div h2 {
    text-align: right;
}

.upper-right {
    /* grid-area: settings; */
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin-container {
    display: inline-block;
}

.spin-container {
    z-index: 3;
}

nav ul li {
    display: flex;
    justify-content: space-around;
}



#settings,
#mouse-icon,
#keyboard-icon,
#sound-on,
#sound-off,
#difficulty-minus,
#difficulty-plus {
    filter: invert(80%);
}

#settings:hover {
    cursor: pointer;
    animation: spin 1.7s linear 30;
    -webkit-animation: spin 1.7s linear 30;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#show-settings {
    display: none;
}

#show-settings:checked+nav {
    right: 0;
}

nav {
    top: 0;
    position: fixed;
    right: -100%;
    width: 30vw;
    height: 100%;
    overflow: hidden;
    padding: 48px 10px;
    transition: right 0.7s;
    background-color: black;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

nav ul {
    grid-row: 2 / span 3;
}

nav p {
    display: block;
    padding: 20px 8px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

#show-shop {
    display: none;
}

#show-shop:checked+.entry-active {
    left: 0;
}

#show-shop:checked+.exit-active {
    right: 0;
}

.entry-active {
    left: -100%;
}

.exit-active {
    right: -100%;
}

.shop {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 48px 10px;
    transition: all 1s ease-in;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.unit-container {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    /* border: 5px solid white; */
}

.unit-container>h1 {
    color: var(--white);
    font-size: 2rem;
}

.next-arena-btn {
    width: 10vw;
    aspect-ratio: 1;
    font-size: clamp(1rem, 2rem, 3rem);
    border-radius: 10px;
}

.next-arena-btn:hover {
    background-color: var(--nab-hover-color);
    cursor: pointer;
}

.choice-container {
    /* border: 2px solid var(--green); */
    height: 50%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.choice {
    height: clamp(30%, 90%, calc(45vw / 3));
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
}

.explanation {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    opacity: 0;
    transition: opacity .5s ease-in-out;
    color: var(--white);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choice:hover>.explanation {
    opacity: 1;
}

.current-units-container {
    height: 40%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.current-unit {
    width: 12%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: none;
    align-self: flex-end;
    order: 9;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color: var(--gray);
}

.current-unit-explanation-container {
    width: 100%;
    height: 60%;
    position: relative;
    top: 0;
    align-self: flex-start;
    order: 1;
    z-index: 1;
}

.current-unit-explanation {
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 5px;
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

#current-unit-1:hover~.current-unit-explanation-container>#unit-1-explanation {
    display: flex;
}

#current-unit-2:hover~.current-unit-explanation-container>#unit-2-explanation {
    display: flex;
}

#current-unit-3:hover~.current-unit-explanation-container>#unit-3-explanation {
    display: flex;
}

#current-unit-4:hover~.current-unit-explanation-container>#unit-4-explanation {
    display: flex;
}

#current-unit-5:hover~.current-unit-explanation-container>#unit-5-explanation {
    display: flex;
}

#current-unit-6:hover~.current-unit-explanation-container>#unit-6-explanation {
    display: flex;
}

#current-unit-7:hover~.current-unit-explanation-container>#unit-7-explanation {
    display: flex;
}

#current-unit-8:hover~.current-unit-explanation-container>#unit-8-explanation {
    display: flex;
}

.current-unit:hover {
    width: 13%;
}




.game-area {
    border-radius: 5px;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.game-wrapper {
    background-color: var(--white);
    border-radius: 5px;
    width: min(80vh, 95vw);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-area {
    background-color: var(--bg);
    border-radius: 5px;
    width: 98%;
    aspect-ratio: 1;
}

.bottom-bar {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row nowrap;

}

#hp {
    width: 50%;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#hp>div {
    width: calc(min(80vh, 95vw) / 50);
    aspect-ratio: 1;
    margin: 2vh 1px;
    flex: 0 0 auto;
    border-radius: 2px;
}

#enemies-left {
    width: 50%;
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    display: flex;
    margin: 2vh 10px;
}

.loss,
.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    transition: all 1s;
    opacity: 1;
}

.loss>h2,
.win>h2 {
    grid-column: 1 / span 11;
    grid-row: 3 / span 1;
}

.loss>p,
.win>p {
    grid-column: 1 / span 11;
    grid-row: 5 / span 1;
}

.loss>button,
.win>button {
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    border-radius: 5px;
    aspect-ratio: 1;
}

.loss>button:hover,
.win>button:hover {
    background-color: var(--red);
    cursor: pointer;
}

.loss>#replay-loss,
.win>#replay-win {
    grid-column: 4 / span 1;
    grid-row: 7 / span 1;
}

.loss>#replay-easier,
.win>#replay-harder {
    grid-column: 8 / span 1;
    grid-row: 7 / span 1;
}

.win,
.loss {
    display: none;
}

#show-loss:checked+.loss>button {
    display: none;
}

#show-loss:checked+.loss {
    opacity: 0;
}

#show-win:checked+.win>button {
    display: none;
}

#show-win:checked+.win {
    opacity: 0;
}

#show-loss,
#show-win {
    display: none;
}