* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --bg: #303030;
    --gray: #4B4B4B;
    --red: #E91E39;
    --orange: #F06F22;
    --yellow: #FACF00;
    --green: #8BBF40;
    --blue: #009BD6;
    --purple: #8E559E;
    --white: #DADADA;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: minmax(24px, 1fr) 8fr 1fr;
    /* grid-template-rows: minmax(48px, 1fr) 10fr minmax(48px, 1fr); */
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: normal;
}

.geo-regular {
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: normal;
}

/* .geo-regular-italic {
    font-family: "Geo", serif;
    font-weight: 400;
    font-style: italic;
} */


header {
    background-color: var(--gray);
    border-radius: 5px;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 10px;
    font-size: clamp(1rem, 2rem, 3rem);
}

header div h2 {
    text-align: right;
}

.upper-right {
    grid-column: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin-container {
    display: inline-block;
}

.spin-container {
    z-index: 3;
}

nav ul li {
    display: flex;
    justify-content: space-around;
}



#settings,
#mouse-icon,
#keyboard-icon,
#sound-on,
#sound-off,
#difficulty-minus,
#difficulty-plus {
    filter: invert(80%);
}

#settings:hover {
    cursor: pointer;
    animation: spin 1.7s linear 30;
    -webkit-animation: spin 1.7s linear 30;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#show-settings {
    display: none;
}

#show-settings:checked+nav {
    right: 0;
}

nav {
    top: 0;
    position: fixed;
    right: -100%;
    width: 30vw;
    height: 100%;
    overflow: hidden;
    padding: 48px 10px;
    transition: right 0.7s;
    background-color: black;
    z-index: 2;
}

nav p {
    display: block;
    padding: 20px 8px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

#show-shop {
    display: none;
}

#show-shop:checked+.entry-active {
    left: 0;
}

#show-shop:checked+.exit-active {
    right: 0;
}

.entry-active {
    left: -100%;
}

.exit-active {
    right: -100%;
}

.shop {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 48px 10px;
    transition: all 1s ease-in;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.unit-container {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    /* border: 5px solid white; */
}

.unit-container > h1 {
    color: var(--white);
    font-size: 2rem;
}

.next-arena-btn {
    width: 10vw;
    height: 10vh;
    font-size: clamp(1rem, 2rem, 3rem);
    border-radius: 10px;
}

.next-arena-btn:hover {
    background-color: var(--nab-hover-color);
    cursor: pointer;
}

.choice-container {
    /* border: 2px solid var(--green); */
    height: 50%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.choice {
    height: clamp(30%, 90%, calc(45vw / 3));
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
}

.explanation {
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    background-color: black;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    color: var(--white);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover>.explanation {
    opacity: 1;
}

.current-units-container {
    /* border: 2px solid var(--purple); */
    height: 40%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.current-unit {
    width: 12%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: none;
    align-self: flex-end;
    order: 9;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color: var(--gray);
}

.current-unit-explanation-container {
    width: 100%;
    height: 60%;
    /* border: 2px solid var(--blue); */
    position: relative;
    top: 0;
    align-self: flex-start;
    order: 1;
    z-index: 1;
}

.current-unit-explanation {
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 5px;
    color: var(--gray);
}

#current-unit-1:hover~.current-unit-explanation-container>#unit-1-explanation {
    display: block;
}

#current-unit-2:hover~.current-unit-explanation-container>#unit-2-explanation {
    display: block;
}

#current-unit-3:hover~.current-unit-explanation-container>#unit-3-explanation {
    display: block;
}

#current-unit-4:hover~.current-unit-explanation-container>#unit-4-explanation {
    display: block;
}

#current-unit-5:hover~.current-unit-explanation-container>#unit-5-explanation {
    display: block;
}

#current-unit-6:hover~.current-unit-explanation-container>#unit-6-explanation {
    display: block;
}

#current-unit-7:hover~.current-unit-explanation-container>#unit-7-explanation {
    display: block;
}

#current-unit-8:hover~.current-unit-explanation-container>#unit-8-explanation {
    display: block;
}

.current-unit:hover {
    width: 13%;
}




.game-area {
    background-color: var(--white);
    border-radius: 5px;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    aspect-ratio: 1;
}

#game-area {
    width: 99%;
    height: 99%;
    background-color: var(--bg);
    border-radius: 5px;
}


footer {
    height: 8vw;
    background-color: var(--gray);
    border-radius: 5px;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

footer>div {
    border-radius: 5px;
    margin: 0.5vw;
    background-color: var(--bg);
}